{% extends 'njk/layouts/default.njk' %}

{% block head %}
    <title>Work Not Screen Time</title>
{% endblock %}

{% block body %}
    {% include 'njk/components/backButton.njk' %}
    {% include 'njk/components/repoButton.njk' %}
    <br>
    <h1>Work Not Screen Time</h1>
    <h4>List of things I can do instead</h4>
    <ul>
        <li>Do work from my other classes</li>
        <li>Work on my capstone</li>
        <li>Work on my website</li>
    </ul>
{% endblock %}