{% extends 'njk/layouts/default.njk' %}

{% block head %}
    <title>Card Draw</title>
    <style>
        canvas {
            width: 100%;
            height: 40vh;
        }
    </style>
    <script defer src="script.js"></script>
{% endblock %}

{% block body %}
    {% include 'njk/components/backButton.njk' %}
    <br>
    <input type="checkbox" id="infiniteCards"><label for="infiniteCards">Infinite Cards</label><br>
    <input type="checkbox" id="clubs" checked><label for="clubs">Clubs</label>
    <input type="checkbox" id="diamonds" checked><label for="diamonds">Diamonds</label>
    <input type="checkbox" id="hearts" checked><label for="hearts">Hearts</label>
    <input type="checkbox" id="spades" checked><label for="spades">Spades</label>
    <input type="checkbox" id="jokers"><label for="jokers">Joker</label>
    <br>
    <input type="button" value="Update Deck" onclick="generateDeck()">
    <input type="button" value="Draw Card" onclick="drawCard()"><br>
    <div id="words">...</div>
    <canvas></canvas>
{% endblock %}